node_modules/
tests/__pycache__/
tests/*.png
tests/*.html
.DS_Store
coverage/
.vscode/
.idea/
server.log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
dist/
build/
*.tsbuildinfo
.report.json
venv/
__pycache__/
*.swp
*.swo
*.diff
*.patch
.greenlight/report.json
